<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>
<body>
 <footer th:fragment="footer">
        <div class="container-fluid">
            <div class="row p-5 pb-2 bg-dark text-white">
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <p class="h3 mb-3">Ubicacion</p>
                    <p class="text-secondary">Escolástico Zegada, Perico, Jujuy </p>
                    <div class="mb-2">
                        <a class="text-secondary text-decoration-none" th:href="@{#}">Horario de Atencion:</a>
                    </div>
                    <div class="mb-2">
                        <a class="text-secondary text-decoration-none" th:href="@{#}">9:00-12:00   14:00-23:00</a>
                    </div>
                    <div class="mb-2">
                        <a class="text-secondary text-decoration-none" th:href="@{#}">Telefono</a>
                    </div>
                    <div class="mb-2">
                        <a class="text-secondary text-decoration-none" th:href="@{#}">388154300424</a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <p class="h5 mb-3">Equipo</p>
                    <div class="mb-2">
                        <a class="text-secondary text-decoration-none" th:href="@{#}">Instructores</a>
                    </div>
                    <div class="mb-2">
                        <a class="text-secondary text-decoration-none" th:href="@{#}">Invitados especiales</a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <p class="h5">Sitios de interes</p>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <a href="https://www.facebook.com/profile.php?id=100077055878819" class="facebook"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/lagambeta.cancha/" class="instagram"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.tiktok.com/@lagambetafutbol5_" class="tiktok"><i class="fa-brands fa-tiktok"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=%2B543884976943&context=ARAS4Wb3q2srt0KfQ4h_uz4xCfkdU5OtOQXrcPLfyYqWHTX5kn74jcHDTL1naQr4JwqEBPopkl1sx_doTUxc6jxcAuVYi6KvsCZiIjRdfoSVMMdqhBSGCAVmlY_de4aV-kssiaH7P_1erMqeFWQZBjWq5A&source=FB_Page&app=facebook&entry_point=page_cta&fbclid=IwAR30BNyglxOnA0oCHWfQ8aibsxSrc3dtCtRGlc1d9wqnf4feyWbY5ASmeXQ_aem_AcbdgxAVkaf9bQwWtMy7t-Q7exNq6hBuFHG5Rb9Q8wnjnYFqZyFbpFMG_imMBVW9gVlZ-64N_uIDhlFMWcAh9TUG" class="whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
                <div class="col-xs-12 pt-4"> 
                    <p class="text-white text-center">Copyright - Todos los derechos reservados 2024</p>
                </div>
            </div>
            
        </div>
    
    </footer>
</body>
</html>