<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="user-scalable=no, width=device-width, initial-scale=1.0">

<title>encabezado</title>
</head>
<body>
	<header id="header principal" th:fragment="header">
		<div class="container-fluid">

			<div class="row page-header"
				style="background-image: url('../../static/visuales/imagenes/275127411_116372107645853_5654000796863365877_n.jpg');">
				<div class="col-8">
					<img id="logo"
						src="../../static/visuales/imagenes/275127411_116372107645853_5654000796863365877_n.jpg"
						alt="logo">
					<h1>La Gambeta Futbol</h1>
					<h4>Canchas de cesped sintetico</h4>

				</div>

				<div class="col-4">
					<ul>
						<li><a
							href="https://www.facebook.com/profile.php?id=100077055878819"
							class="facebook"><i class="fa-brands fa-facebook"></i></a></li>
						<li><a href="https://www.instagram.com/lagambeta.cancha/"
							class="instagram"><i class="fa-brands fa-instagram"></i></a></li>
						<li><a href="https://www.tiktok.com/@lagambetafutbol5_"
							class="tiktok"><i class="fa-brands fa-tiktok"></i></a></li>
						<li><a
							href="https://api.whatsapp.com/send?phone=%2B543884976943&context=ARAS4Wb3q2srt0KfQ4h_uz4xCfkdU5OtOQXrcPLfyYqWHTX5kn74jcHDTL1naQr4JwqEBPopkl1sx_doTUxc6jxcAuVYi6KvsCZiIjRdfoSVMMdqhBSGCAVmlY_de4aV-kssiaH7P_1erMqeFWQZBjWq5A&source=FB_Page&app=facebook&entry_point=page_cta&fbclid=IwAR30BNyglxOnA0oCHWfQ8aibsxSrc3dtCtRGlc1d9wqnf4feyWbY5ASmeXQ_aem_AcbdgxAVkaf9bQwWtMy7t-Q7exNq6hBuFHG5Rb9Q8wnjnYFqZyFbpFMG_imMBVW9gVlZ-64N_uIDhlFMWcAh9TUG"
							class="whatsapp"><i class="fa-brands fa-whatsapp"></i></a></li>
					</ul>



				</div>
			</div>

			<div class="row nav">

				<nav class="navbar bg-dark border-bottom border-body"
					data-bs-theme="dark">
					<ul class="nav nav-pills nav-fill">
						<li class="nav-item"><a class="nav-link" aria-current="page"
							href="#">Home</a></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
							href="#" role="button" aria-expanded="false">Institucional</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Quienes somos</a></li>
								<li><a class="dropdown-item" href="#">Servicios</a></li>
								<li><a class="dropdown-item" href="#">Torneos</a></li>
							</ul></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
							href="#" role="button" aria-expanded="false">Canchas</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Futbol 7</a></li>
								<li><a class="dropdown-item" href="#">Futbol 11</a></li>
							</ul></li>
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="#">Reservar Turno</a></li>
					</ul>

					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search"
							placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</form>
					
					 <div class="nav-button">
					 <!-- Agregar enlace a login -->
					 <button onClick="location.href=''" class="btn" id="loginBtn">Sing In</button>
              
                      </div>


				</nav>

			</div>



		</div>
</body>
</html>